Add DNS archiving

http://iipc.github.io/warc-specifications/specifications/warc-format/warc-1.1/#dns-scheme

"For a target-URI of the ‘dns’ scheme ([RFC 4501]), a ‘resource’ record shall contain material of content- type ‘text/dns’ (registered by [RFC 4027] and defined by [RFC 2540] and [RFC 1035]) representing the results of a single DNS lookup as described by the target-URI."

Example of a DNS record made by Heritrix:

![image](https://github.com/CorentinB/warc/assets/5089772/d950978d-0118-4b26-bb35-1f91a6867e4d)
